*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 90%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}
header{

 
 
    background-color: black;
    font-family: system-ui;
}
header section.wrapper section.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
header section.wrapper div.left h1 img{
    height: 25px;     
}
header section.wrapper div.right ul{
    display: flex;
    gap: 30px;
}
header section.wrapper div.right ul li{}

header section.wrapper div.right ul li a{
    color: white;
    font-size: 10px;
}

header section.wrapper section.nav i{
        display: none;
        color: rgb(236, 234, 234);
        font-size: 30px;
    }

header section.wrapper div.right ul li .menu{
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 30px;
}
#spotlight{
    background-color: rgb(31, 174, 31);
    height: 400px;
    width: 100%;
    padding-top: 40px;
    font-family: system-ui;

}
#spotlight .wrapper .content{
    display: flex;
    justify-content: space-between;
}

#spotlight .wrapper .content  .left h1{
    color: white;
    font-size: 50px;
    margin-top: 40px;
}


 #spotlight .wrapper div.content div.left p.small{
    margin-top: 20px;
    background-color: white;
    color: black;
    border-radius: 20px;
    width: 8rem;
    font-size: 10px;
    padding: 10px 20px;
    font-weight: 700;
} 

 #spotlight  .wrapper .right  img{
    height: 350px;
    margin-top: 10px;
 }
 

#about{
    background-color: white;
    height: 400px;
    width: 100%;
    padding: 40px;
    font-family: system-ui;
}
#about section.wrapper h1{
    text-align: center;
    font-size: 40px;
    color: black;
    margin-top: 30px;
}

#about section.wrapper div.container{
    display: flex;
    justify-content: space-between;
        margin: 0 auto;
        text-align: center;

}
#about section.wrapper div.container div.item div{
}
#about section.wrapper div.container div.item div img{
    height: 120px;
    margin-top: 20px;
}
#about section.wrapper div.container div.item h3{
    margin-top: 10px;
    text-align: center;
}
#about section.wrapper div.container div.item p{
    font-weight: 480;
}

#green{
    background-color: rgb( 31, 174, 31);
    height: 250px;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#green section.wrapper div.left{
    text-align: center;
    padding-top: 80px;
}
#green section.wrapper div.left h1{
    font-weight: 800;
    font-size:30px;
    
}
#green section.wrapper div.left p{
    font-size: 25px;
    font-weight: 450;
}

#faq{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 570px;
}
#faq h1{
    text-align: center;
    padding: 20px;
    margin-top: 70px;
    margin-bottom: 45px;
    font-size: 50px;
}
#faq section.wrapper {
    height: 500px;
    margin: 0 auto;
}
#faq section.wrapper div.right{
}

#faq section.wrapper div.right .bottom-arrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 350px;
}

#faq section.wrapper div.right .bottom-arrow p{
    margin-left: 350px;
    font-weight: 550;
    margin-top: 30px;
}

#faq section.wrapper div.right .bottom-arrow img{
    height: 30px;
    margin-right: 350px;
    margin-top: 30px;
}

#faq section.wrapper div.right .line{
    border-bottom: 1px solid rgba(146, 140, 140, 0.6);
    margin-top: 20px;
    width: 50%;
    margin-left: 350px;
}

#ronc{
    background-color: rgb( 31, 174, 31);
    height: 350px;
    width: 100%;
}
#ronc section.wrapper div.left{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 30px;
}

#ronc section.wrapper div.left h1{
    padding-top: 8rem;
    font-weight: 800;
    font-size: 56px;
}

#ronc section.wrapper div.left .right{
    border-radius: 20px;
    background-color: white;
    color: black;
    line-height: 5;
     padding: 6px 12px;
     font-weight: 600;     
}

#hanc{
    background-color: black;
    height: 60px;
    width: 100%;
    color: white;
}
#hanc section.wrapper div.footer{
    display: flex;
    justify-content: space-between;
}
#hanc section.wrapper div.right ul{
    display: flex;
    gap: 50px;
    padding-top: 20px;
}
#hanc section.wrapper div.left{
    padding-top: 20px;
}




#hanc section.wrapper div.left a{
    color: white;
    display: flex;
}

/* @media(max-width:320px){
    header{
      width: 70rem;
    }
}
@media(max-width:320px){
    #spotlight{
        width: 70rem;
        height: 636px;
    }
    #spotlight .wrapper .content{
        display: block;    
    } 
    #spotlight .wrapper .content .left h1{
     font-size: 35px; 
     text-align: center; 
     margin-bottom: 20px; 
    }
    #spotlight .wrapper .content .left p.small{
        margin-left: 27rem;
        
    }
    #spotlight .wrapper .right img{
        margin-left: 22rem;
    }

}
@media(max-width:320px){
    #about{
        width: 70rem;
    }
    #about section.wrapper h1{
        text-align: center;
        font-size: 35px;
    }
    #about section.wrapper div.container{
        display: block;
        /* height: 500px; */
    /* }
}
@media(max-width:320px){
    #green{
        width: 70rem;
        margin-top: 30rem;
    }
    header section.wrapper div.right ul li a{
        visibility: hidden;
    }
}
@media(max-width:320px){
    #faq{
        width: 70rem;
    }
    #faq h1{
        text-align: center;
    }

}
@media(max-width:320px){
    #ronc{
        width: 70rem;
    }
}
@media(max-width:320px){
    #hanc{
        width: 70rem;

    }
}
@media(min-width:375px){
      header{
        width: 80rem;
      }
      header section.wrapper div.right ul li a{
        visibility: hidden;
    }

}

@media(min-width:375px){
    #spotlight{
        width: 80rem;
        height: 680px;
    }
    #spotlight .wrapper .content{
        display: block;    
    } 
    #spotlight .wrapper .content .left h1{
     font-size: 45px; 
     text-align: center; 
     margin-bottom: 20px; 
    }
    #spotlight .wrapper .content .left p.small{
        margin-left: 30rem;
        
    }
    #spotlight .wrapper .right img{
        margin-left: 25rem;
    }
    

}
@media(min-width:375px){
    #about{
        width: 70rem;
    }
    #about section.wrapper h1{
        text-align: center;
        font-size: 35px;
    }
    #about section.wrapper div.container{
        display: block;
    }
} */
/* @media(min-width:375px){
      #green{
        width: 80rem;
        margin-top: 40rem;
    }
}
@media(max-width:375px){
     #faq{
        width: 80rem;
    }
    #faq h1{ 
        text-align: center;
    }

} */
/* @media(min-width:375px){
     #ronc{
        width: 80rem;
    }
        +
}
@media(min-width:375px){
     #hanc{
        width: 80rem;
    }
} */

@media(max-width:342px){
  header{
    width: 70rem;
  }
  header section.wrapper div.right ul li a{
    visibility: hidden;
     


  }   
   #spotlight{
        width: 70rem;
        height: 636px;
    }
    #spotlight .wrapper .content{
        display: block;    
    } 
    #spotlight .wrapper .content .left h1{
     font-size: 35px; 
     text-align: center; 
     margin-bottom: 20px; 
    }
    #spotlight .wrapper .content .left p.small{
        margin-left: 27rem;
        
    }
    #spotlight .wrapper .right img{
        margin-left: 22rem;
    } 
    #about{
        width: 70rem;
    }  
    #about section.wrapper h1{
        text-align: center;
        font-size: 35px;
    }
    #about section.wrapper div.container{
        display: block;
        font-size: 25px;
    }
    #green{
        margin-top: 40rem;
        width: 70rem;
    }
     #faq{
        width: 70rem;
     }
     #faq h1{
        text-align: center;
     }
     #ronc{
        width: 70rem;
     }
     #hanc{
        width: 70rem;
     }
    
}
@media(max-width:742px){
    header{
        width: 70rem;
    }
    header section.wrapper div.right ul li a{
        visibility: hidden;
    }
    #spotlight{
        width: 70rem;
        height: 655px;
    }
     #spotlight .wrapper .content{
        display: block;
     }
     #spotlight .wrapper .content .left h1{
        font-size: 45px;
        text-align: center;
        margin-top: 20px;
     }
     #spotlight .wrapper .content .left p.small{
        margin-left: 27rem;
     }
     #spotlight .wrapper .right img{
        margin-left: 22rem;
     }
      #about{
        width: 70rem;

      }
      #about section.wrapper h1{
        text-align: center;
        font-size: 35px;
      }
      #about section.wrapper div.container{
        display: block;
      }
    #green{
        width: 70rem;
        margin-top: 30rem;
    }
    #faq{
        width: 70rem;
    }
    #faq h1{
        text-align: center;
    }
    #ronc{
        width: 70rem;
    }
    #hanc{
        width: 70rem;
    }

}

@media(max-width:942px){
    header{
        width: 80rem;
    }
    header section.wrapper div.right ul li a{
        visibility: hidden;
    }
    header section.wrapper section.nav i{
        display: block;

    }

 header section.wrapper div.right ul{
    display: none;
 }
 #spotlight{
    width: 80rem;
 }
 #about{
    height: 890px;
    width: 80rem;
    
 }
 #green{
    width: 80rem;
 }
  #about section.wrapper div.container{
    display: block;
  }
  #about section.wrapper h1{
    text-align: center;
  }
  #faq{
    height: 600px;
    width: 80rem;   
  }
  #faq section.wrapper div.right.bottom-arrow {
display: flex;
justify-content: space-between;
    
  }
  #ronc{
    width: 80rem;
  }
  #hanc{
    width: 80rem;
  }
}


















